body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#weekPlan {
    text-align: left;
    margin: auto;
    width: 50%;
}

#weekPlan p {
    font-size: 18px;
    margin: 5px 0;
}
